/\.env*
!/\.env.dist
*.iml
/.lein-*
!/.lein-env.dist
/.nrepl-port
provisioning/containers/docker-compose.override.yaml
resources/*edn
node_modules
pom.xml
pom.xml.asc
.cpcache
.rebel*
*.jar
*.class
/classes
/checkouts
/target

