{
  :database {
    :charset        "utf8"
    :host           "127.0.0.1"
    :name           "devobs_worker_test"
    :user           "devobs_worker"
    :password       "__password__"
    :port           "5432"
  }
  :database-read {
    :charset        "utf8"
    :host           "127.0.0.1"
    :name           "devobs_worker_test"
    :user           "devobs_worker"
    :password       "__password__"
    :port           "5432"
  }
  :database-archive {
    :charset        "utf8"
    :host           "127.0.0.1"
    :name           "devobs_worker_test"
    :user           "devobs_worker"
    :password       "__password__"
    :port           "5432"
  }
  :rabbitmq {
    :user               "update_me"
    :password           "update_me"
    :port               "update_me"
    :host               "update_me"
    :vhost              "update_me"
    :queue-publications "update_me"
  }
  :aggregate {
    :main           "update_me"
  }
}
